* {
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: sans-serif;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.projTitle{
    text-align: center;
}
.heading{
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
    width:80%;
}
.heading h1{
    font-size: 1.5em;
    float: left;
}
li{
    list-style: none;
}
a.continue{
    display: block;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    transition: all 0.25s linear;
}
a.continue::after{
    content: "\276f";
    padding: .5em;
    margin: 12px;
    position: relative;
    right:0;
    transition: all 0.15s linear;
}
a.continue:hover,a.continue:active,a.continue:focus{
    background-color: #f69679;
}
a.continue:hover::after,a.continue:active::after,a.continue:focus::after{
    right:-10px;
}
.cart{
    display: flex;
    flex-direction: column;
    width:80%;
}
.cart .item{
    display: flex;
    width:100%;
    align-items: space-between;
    justify-content: space-between;
    margin: 8px;
}
.itemImg{
    width:150px;
}
h3{
    margin: 12px;;
}
.qty{
    width:60px;
}
button{
    height:60px;
    width:60px;
    background-color: #a5c27f;
    border: none;
    cursor:pointer;
    color:red;
    border-radius: 50% ;
}
.subtotal{
    align-self: flex-end;
    margin-right: 10%;
}
.subtotal ul li span{
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}
.label {
   font-size: .85em;
   text-transform: uppercase;
   color: #777;
 }
 .value {
   letter-spacing: -.025em;
   width: 35%;
 }